annotated-doc==0.0.4
annotated-types==0.7.0
ansible==10.7.0
ansible-core==2.17.14
anyio==4.14.1
blinker==1.4
cfgv==3.5.0
click==8.4.2
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
distlib==0.4.0
distro==1.7.0
distro-info==1.1+ubuntu0.1
exceptiongroup==1.3.1
fastapi==0.139.0
filelock==3.29.0
h11==0.16.0
httplib2==0.20.2
identify==2.6.19
idna==3.18
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.6
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==3.0.3
more-itertools==8.10.0
netifaces==0.11.0
nodeenv==1.10.0
oauthlib==3.2.0
packaging==26.2
platformdirs==4.9.6
pre_commit==4.6.0
pydantic==2.13.4
pydantic_core==2.46.4
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu4.1
python-discovery==1.2.2
PyYAML==5.4.1
resolvelib==1.0.1
SecretStorage==3.3.1
six==1.16.0
starlette==1.3.1
systemd-python==234
toml==0.10.2
typing-inspection==0.4.2
typing_extensions==4.15.0
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
uvicorn==0.50.2
virtualenv==21.2.4
wadllib==1.3.6
zipp==1.0.0
